.card {
  &-title {
    min-height: 50px;
  }
  &-img {
    width: 270px;
    height: 270px;
  }
}

.a-underline {
  text-decoration: none;

  &-none {
    text-decoration: none;
  }
}

.a-underline:hover{
  color: #999999;
  text-decoration: underline;
}
